@font-face {
    font-family: "cygre";
    src: url(/fonts/Cygre-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cygre";
}
:root{
    --text-color: white;
    --gap: 4vw;
}
body{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(90deg, rgb(62, 0, 148), rgb(254, 131, 131));
}::-webkit-scrollbar{
    display: none;
}

#login-container{
    display: flex;
    flex-direction: column;

    gap: var(--gap);
    padding: var(--gap);

    border-radius: 5vw;
    backdrop-filter: blur(2px);
    background: rgba(158, 158, 158, 0.251);
    box-shadow: 0 0 2vw 10px rgba(255, 255, 255, 0.251);

    color: var(--text-color);
}


input{ 
    flex: 1;

    background: transparent;
    border: none;
    outline: none;

    color: var(--text-color);
}
label{
    font-size: 1.2vw;
}
fieldset{
    width: 100%;

    border: none;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.511);

    padding: 1vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
a{
    text-decoration: none;
}

h1{
    font-size: 2vw;
    letter-spacing: 0.2vw;
    font-weight: 600;
}
button{
    border: none;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    background: rgba(24, 157, 0, 0.75);
    text-shadow: 0 0 1vw white;
    box-shadow: 0 0 1vw 1px rgba(24, 157, 0, 0.75);

    padding: 1vw;
    border-radius: 1vw;

    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 0.1vw;

    transition: 0.1s ease;
}
button:active{
    transform: scale(0.9);   
}


#back-btn{
    height: 5vw;
    position: absolute;
    left: 0;
    top:0;
}