@font-face {
    font-family: "fehero";
    src: url(/fonts/FEHero-Regular.ttf);
}
@font-face {
    font-family: "gost";
    src: url(/fonts/gost.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gost";
}
:root{
    --text-color: white;
    --gap: 4vw;
}
body{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}::-webkit-scrollbar{
    display: none;
}
#background{
    position: fixed;
    object-fit: cover;
    z-index: -1;
    height: 100vh;
    width: 100vw;

    filter: brightness(0.4);
}
main{
    display: flex;
    flex-direction: column;

    border-radius: 5vw;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.251);

    box-shadow: 0 0 1vw 1px black;

    color: var(--text-color);
}
#login-container{
    display: flex;
    flex-direction: column;

    gap: var(--gap);
    padding: var(--gap);
}


input{ 
    flex: 1;

    background: transparent;
    border: none;
    outline: none;

    color: var(--text-color);
}
label{
    font-size: 1.2vw;
}
fieldset{
    width: 100%;

    border: none;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.511);

    padding: 1vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
a{
    text-decoration: none;
}
#create-acc-btn{
    font-size: 2vw;
    color: red;
    text-shadow: red 0px 0px 3px;

    display: flex;
    align-self: center;
}
h1{
    font-size: 4vw;
    letter-spacing: 0.5vw;
    font-weight: 600;
}
button{
    border: none;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    background: rgb(157, 23, 23);

    padding: 1vw;
    border-radius: 1vw;

    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 0.3vw;

    transition: 0.1s ease;
}
button:active{
    transform: scale(0.9);   
}
